html,body{
    background-color: rgb(227, 227, 53);
}
.t1{
    display: flex;
    margin-left: 35%;
}
.j1{
    width: 110px;
    height: 100px;
    margin-left: 50px;
    background-color: rgb(238, 52, 24);
    border-color: black;
    animation-name: j1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes j1{
    20%{transform: skewX(20deg);}
    50%{transform: skewX(-20deg);}
}
.j2{
    width: 110px;
    height: 100px;
    margin-left: 50px;
    background-color: aqua;
    border-color: black;
    animation-name: j2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes j2{
    20%{transform: skewX(20deg);}
    50%{transform: skewX(-20deg);}
}
.j3{
    width: 110px;
    height: 100px;
    margin-left: 50px;
    background-color: aqua;
    border-color: black;
    animation-name: j3;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes j3{
    20%{transform: skewX(20deg);}
    50%{transform: skewX(-20deg);}
}
.t2{
    display: flex;
    margin-left: 35%;
}

.a1{
    width: 110px;
    height: 100px;
    margin-left: 50px;
    background-color: rgb(103, 21, 134);
    border-color: black;
    animation-name: a1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes a1{
    50%{transform: skewY(35deg);}
    20%{transform: skewY(-35deg);}
}

.a2{
    width: 110px;
    height: 100px;
    margin-left: 50px;
    background-color: rgb(129, 40, 161);
    border-color: black;
    animation-name: a2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes a2{
    50%{transform: skewY(35deg);}
    20%{transform: skewY(-35deg);}
}
.a3{
    width: 110px;
    height: 100px;
    margin-left: 50px;
    background-color: rgb(130, 55, 180);
    border-color: black;
    animation-name: a3;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes a3{
    50%{transform: skewY(35deg);}
    20%{transform: skewY(-35deg);}
}
.t3{
    display: flex;
    margin-left: 35%;
    
}

.b1{
    width: 110px;
    height: 100px;
    margin-left: 50px;
    background-color: rgb(69, 146, 146);
    border-color: black;
    animation-name: b1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes b1{
   100%{transform:rotate(180deg);}
}
.b2{
    width: 110px;
    height: 100px;
    margin-left: 50px;
    background-color: rgb(64, 124, 141);
    border-color: black;
    animation-name: b2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes b2{
   100% {transform:rotate(-180deg);}
}
.b3{
    width: 110px;
    height: 100px;
    margin-left: 50px;
    background-color: rgb(38, 128, 128);
    border-color: black;
    animation-duration: 5s;
    animation-name: b3;
    animation-iteration-count: infinite;
}
@keyframes b3 {
    100%{transform:rotate(180deg);}
}
.t4{
    display: flex;
    margin-left: 35%;
}

.c1{
    width: 110px;
    height: 100px;
    margin-left: 50px;
    background-color: rgb(21, 120, 120);
    border-color: black;
    animation-name: c1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    
}
@keyframes c1{
   100% {transform: rotateY(50deg);
   }
}
.c2{
    width: 110px;
    height: 100px;
    margin-left: 50px;
    background-color: rgb(173, 97, 58);
    border-color: rgb(200, 49, 49);
    animation-name: c2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes c2{
   100% {transform: rotateX(60deg);
    }
}
.c3{
    animation-name: c3;
    width: 110px;
    height: 110px;
    margin-left: 50px;
    background-color: rgb(33, 195, 44);
    border-color: black;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes c3{
    50% {transform:rotate(180deg) ;}
    20% {transform:rotate(-180deg);}
    
}

.let{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}